<div class="container">
  <h4>App Review também é um app!</h4>
  <p>Nosso objetivo é permitir que os usuários tirem suas próprias conclusões sobre os apps famosos (ou nem tão famosos) com base em dados reais.</p>
  <p>Para concluir isso, disponibilizamos um cadastro de aplicações para qualquer um, assim como avaliações desses apps que serão usadas como referência pelos curiosos por aí.</p>
  <br>

  <!-- Expansion panel -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tecnologias
        </mat-panel-title>
        <mat-panel-description>
          O que usamos na construção?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <h3 mat-subheader>Front-end</h3>
        <mat-list-item>
          <h4 mat-line>Angular 7</h4>
        </mat-list-item>
        <mat-list-item>
          <h4 mat-line>Material Design</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Back-end</h3>
        <mat-list-item>
          <h4 mat-line>Spring boot</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Outros</h3>
        <mat-list-item>
          <h4 mat-line>Firebase</h4>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Desenvolvedores
        </mat-panel-title>
        <mat-panel-description>
          Quem são as mentes brilhantes por trás deste lindo projeto?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item>
          <mat-icon mat-list-icon>sentiment_very_satisfied</mat-icon>
          <h4 mat-line>Erick Trettel</h4>
          <p mat-line> ericktrettel@gmail.com </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>sentiment_very_satisfied</mat-icon>
          <h4 mat-line>João Vitor</h4>
          <p mat-line> joaovitor2201@hotmail.com </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>sentiment_very_satisfied</mat-icon>
          <h4 mat-line>Larissa Rodrigues</h4>
          <p mat-line> larissard.la@gmail.com </p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>